@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Roboto+Mono:ital,wght@0,300;1,300&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin-top: 10%;
}

.Navbar {
  background-color: rgb(15, 155, 248);
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  height: 100px;
}

.Nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  margin: auto;
}

.Nav-name {
  width: 25%;
  display: flex;
  height: 50%;
  justify-content: space-between;
  align-items: center;
}

.Nav-title {
  font-size: 23px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.Nav-Logo {
  height: 100%;
}

.search {
  width: 65%;
  display: flex;
  justify-content: start;
  margin-top: 4%;
  margin-left: 15%;
  height: 80%;
  position: relative;
}
.Nav-search_inp {
  height: 44%;
  width: 70%;
  border: 0.3px solid black;
  border: none;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border-right: none;
}

.Nav-search_inp :active {
  border: none;
}
.regis {
  height: 40%;
  border: none;
  background-color: white;
  border-radius: 10%;
  margin-right: 5%;
}

.Nav-btn {
  position: absolute;
  height: auto;
  background-color: rgb(255, 4, 4);
  border: none;
  color: white;
  border-radius: 0 5px 0 5px;
  width: 15%;
  height: 50%;
  right: 15%;
  cursor: pointer;
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.Nav-profile {
  height: 90%;
}

.Nav-cart {
  width: 35px;
}

.swiper {
  width: 500px;
  margin: 0;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  width: 60%;

  object-fit: cover;
  border-radius: 5%;
}

.header_right {
  width: 50%;
  margin-left: 10%;
}
.header_title {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  font-size: 18px;
}
#desc {
  margin-left: 20%;
}
.desc_info {
  border: none;
  background-color: white;
  color: blue;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}
.desc_info:hover {
  text-decoration: dashed;
  color: red;
}

.category {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0;
}

.right_category_one {
  width: 50%;
}
.category_desc {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 5%;
  padding-top: 5%;
  border-bottom: 1px solid #f0ebfa;
  font-family: "Montserrat", sans-serif;
}
.all_btn {
  border: none;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  color: blue;
  font-size: 17px;
}

.category_desc:hover {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 7%;
  padding-top: 7%;
  border-bottom: 0.1px solid rgb(59, 57, 57);
}

.right_category_second {
  width: 50%;
  margin-top: 0;
}
.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.brand_list {
  width: 85%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
}

.brand_desc {
  width: 120px;
  opacity: 0.5;
  border-right: 2px solid #f0ebfa;
}
.brand_desc:hover {
  opacity: 1;
}

.brand_img {
  width: 100%;
}

.products {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5%;
}

.product_card {
  width: 210px;

  margin-left: 5%;
}

.product-image {
  max-width: 100px;
  width: 60%;
  max-height: 150px;
  margin-left: 20%;
  margin-bottom: 3%;
}

.product-title {
  margin-inline: 10%;
  width: 100%;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.product-descr {
  width: 100%;
  font-size: 14px;
  margin-inline: 10%;
  font-family: "Inter", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.product-price {
  width: 100%;
  font-size: 14px;
  margin-inline: 10%;
  font-family: "Inter", sans-serif;
  font-family: "Roboto Mono", monospace;
}

.cart {
  display: flex;
  margin: 0;
}
.cart_btn {
  width: 25%;
  border: none;
  background-color: white;
}

.cart_icon {
  width: 35px;
}

.nav-cart {
  width: 6%;
  height: 40%;
  border: none;
  background-color: rgb(15, 155, 248);
}

/* footer */
footer {
  background-color: rgb(15, 155, 248);
  height: 363px;
  margin-top: 5%;
}

.footer_container {
  width: 80%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer_container_left {
  margin-top: 4%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_logo > h1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-left: 10px;
}

.footer_list {
  display: flex;
  align-items: center;
  width: 34%;
  justify-content: space-between;
  margin-right: 9.5%;
  flex-wrap: wrap;
}

.footer_list_item > a,
.footer_list_contact {
  color: black;
  font-size: 15px;
}

.footer_list_item > a:hover {
  color: #f80e06;
  font-weight: 500;
}
.footer_contact {
  margin-top: 1%;
}
.footer_list_contact {
  display: block;
  margin-top: 3%;
}
.footer_end {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer_end_item > a {
  color: #000;
  font-size: 15px;
}

.footer_end_list {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
#second_list {
  margin-right: 29%;
  gap: 10px;
}
#first_list {
  gap: 6px;
  margin-top: 2%;
}

#third_list {
  gap: 12px;
}
/* footer */

@media all and (max-width: 1245px) {
  .header_right {
    width: 45%;
  }
}

@media all and (max-width: 1120px) {
  .header {
    justify-content: center;
  }
  .header_right {
    width: 80%;
  }
  .category {
    width: 80%;
  }
  .swiper {
    width: 700px;
  }
  .swiper-slide img {
    margin-bottom: 30px;
  }
}
@media all and (max-width: 1050px) {
  .swiper {
    margin-top: 3%;
  }
  .Nav-btn {
    height: 47%;
  }
}

@media all and (max-width: 950px) {
  .swiper {
    margin-top: 4%;
  }
  .search {
    margin-top: 5%;
  }
  .Nav-btn {
    height: 47%;
    width: 20%;
  }
}
@media all and (max-width: 750px) {
  .Nav-title {
    display: none;
  }
  .swiper {
    margin-top: 4%;
  }
  .search {
    margin: 0;
    margin-top: 8%;
  }
  .Nav-btn {
    height: 47%;
    width: 25%;
  }
}

@media all and (max-width: 750px) {
  .swiper {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .header_right {
    margin: 0;
  }
}
@media all and (max-width: 600px) {
  .products {
    justify-content: center;
    width: 100%;
  }
}

@media all and (max-width: 500px) {
  .search {
    margin-top: 13%;
  }
  .category {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .products {
    justify-content: center;
  }
  .product_card {
    width: 300px;
  }
  .product-image {
    max-width: none;
    max-height: none;
    width: 60%;
  }
  .swiper {
    margin-top: 25%;
  }
}

@media all and (max-width: 400px) {
  .swiper {
    margin-top: 20%;
  }
  .Nav-Logo {
    width: 50px;
    margin: 0;
  }
  .Nav-profile {
    display: none;
  }
  .regis {
    display: none;
  }
  .Nav-cart {
    display: none;
  }
  .search {
    width: 80%;
    margin-top: 18%;
    margin-right: -17%;
  }
}
/* @media (max-width: 390px) {
  .header{
    margin-top: 23%;
  }
  .Nav{
    width: 100%;
  }
  .Nav-title {
    display: none;
  }
  .Nav-Logo{
    width: 50px;
    margin: 0;
  }
  .Nav-btn{
    display: none;
  }
  .Nav-profile{
    display: none;
  }
  .search{
    margin: 0;
    margin-top: 13%;
  }
  .Nav-search_inp{
    width: 50px;
  }
  .category{
    margin-left: 30%;
  }
  .regis{
    display: none;
  }
  .swiper-slide > img {
    margin-bottom: 30px;
  }
  .swiper{
    margin-top: 15px;
  }
} */
